<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id">id</label>
        <input type="text" name="id" placeholder="enter a user id" required><br>

        <label for="name">name</label>
        <input type="text" name="name" placeholder="enter a user name" required><br>

        <label for="age">age</label>
        <input type="text" name="age" placeholder="enter your age" required><br>

        <label for="date">date</label>
        <input type="date" name="date" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>