<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Userid</th>
            <th>User name</th>
            <th>Age</th>
            <th>Date</th>
        </tr>
        <tr>
            {% for x in data1 %}
            <td>{{x.user_id}}</td>
            <td>{{x.user_name}}</td>
            <td>{{x.user_age}}</td>
            <td>{{x.date}}</td>
            <td><a href="{% url 'delete' x.user_id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>