<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MY SITE{% endblock %}</title>
</head>
<body>
    <header>
        <h1>MY website</h1>
        <nav>
            <ul>
                <li><a href="home">HOME</a></li>
                <li><a href="about">ABOUT</a></li>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
        <footer>
            MY SITE FOOTER
        </footer>
    </main>
    
</body>
</html>