<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" name="fname" placeholder="Enter First name" required><br>

        <label for="lname">Last Name</label>
        <input type="text" name="lname" placeholder="Enter Last Name" required><br>

        <label for="email">Email id</label>
        <input type="text" name="email" placeholder="Enter your Email id" required><br>

        <label for="phonenum">Phone Number</label>
        <input type="text" name="phonenum" placeholder="Enter your Phone Number" required><br>

        <label for="address">Address</label>
        <input type="text" name="address" placeholder="Enter your Address" required><br>

        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" placeholder="Enter your Date of Birth" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>