<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/post_add.css' %}">
</head>
<body>
    <div class="container">
        <h2>Post Registration</h2>
        <form method="POST">
            {% csrf_token %}
        <label for="title">Post Title</label>
        <input type="text" name="title" value="{{data.title}}" required><br><br>

        <label for="content">Post Content</label>
        <input type="text" name="content" value="{{data.content}}" required><br><br>
        
        <button type="submit">add</button>
        </form>
    </div>
</body>
</html>