<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .h{
            color: red;
        }
        .s{
            color:green;
        }
        .n{
            font-weight:bold;
            font-size: larger;
        }
        .li{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for x in item %}
        <li class="n">{{x.name}}</li>
        <span>Price:{{x.Price}}</span><br>
        {% if x.availability == "In Stock" %}
        <span class="s">In Stock</span><br>
        {% else %}
        <span class="h">Out Of Stock</span><br>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>