<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>product id</th>
            <th>product name</th>
            <th>user name</th>
        </tr>
        <tr>
            {% for x in data1 %}
            <td>{{x.pro_id}}</td>
            <td>{{x.pro_name}}</td>
            <td>{{x.user1}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>