<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id">Product id</label>
        <input type="text" name="id" placeholder="Enter id" required><br>

        <label for="proname">Product name</label>
        <input type="text" name="proname" placeholder="Enter product name" required><br>

        <label for="users">Select user</label>
        <Select name="users" required>
            {% for x in user %}
            <option value="{{x.user_id}}">{{x.user_name}}</option>
            {% endfor %}
        </Select><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>