<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Details</h1>
    <table border="2">
            <th>Name</th>
            <th>Age</th>
            <th>User Image</th>
            <tr>
                {% for user in users %}
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <img src="{{ user.user_img.url }}" alt="{{ user.name }}" width="100" height="100">
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>