
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f1114;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background-color: #9adaa8;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 50%;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin: 15px 0 8px;
    font-weight: bold;
    color: #130808;
}

input[type="text"], 
textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

input[type="text"]:focus, 
textarea:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

button {
    background-color:#d85a0c;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #130f0c;
}

button:active {
    background-color: #a1470a;
}

